<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog App</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
    <Header class="navbar">
        <div class="navbar__brand">
            <img class="navbar__logo" src="/static/747545.png" alt="Blog Logo"/> My BlogApp
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="#" class="navbar_link">Recents</a></li>
            <li class="navbar__navigation-item"><a href="#" class="navbar_link">Calendar</li>
            <li class="navbar__navigation-item"><a href="#" class="navbar_link">LogOut</li>
        </ul>
    </Header>
    <main class="main">
        <section>
            <h1>Update Blog</h1>
            <form class="form" method="POST">
                <p class="form__input">
                <label class="form__label" for="entry"> Talk To Me: </label>
                <textarea class="form__textarea" name="content" id="entry" cols="30" rows="10"></textarea>
                </p>
                <button class="form__submit" type="submit"> Update </button>
            </form>
        </section>
        <section>
            <h1>New Posts:</h1>
            {% for entry in entries %}
            <article  class="entry">
                <div>
                    <h2 class="entry__title">{{ entry[0] | truncate(30,true)}}</h2>
                    <time class="entry__date" datetime="{{ entry[1] }}">• {{ entry[2] }}</time>
                </div>
                <p class="entry__content">
                    {{ entry[0] }}
                </p> 
            </article>
            {% endfor %}
        </section>
    </main>
    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a href="" class="footer__item"> Made by Abn Designs</a>
                <a href="" class="footer__item"> My Portfolio</a>
            </section>
            <section class="right">
                <div class="footer__column">
                    <a href="" class="footer__item"> About</a>
                    <a href="" class="footer__item"> The Making</a>
                </div>
                <div class="footer__column">
                    <a href="" class="footer__item"> Recents</a>
                    <a href="" class="footer__item"> Calendar</a>
                    <a href="" class="footer__item"> Log Out</a>
                </div>

            </section>
        </div>
    </footer>
</body>
</html>
